# Suppress deprecated warnings for transitive dependencies
# These warnings are from old packages in the dependency tree
# and don't affect functionality - they'll be fixed when parent packages update
